@font-face {
  font-family: 'Gilroy';
  src: url('../css/fonts/Gilroy-Regular.woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../css/fonts/Gilroy-Medium.woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../css/fonts/Gilroy-Semibold.woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../css/fonts/Gilroy-Bold.woff');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Gilroy', sans-serif;
  color: rgba(12, 12, 12, 0.4);
  background-color: #fbfbfb;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* .container {
  width: 1280px;
  padding: 0 65px;
  margin: 0 auto;
} */

.container {
  width: 100%;
  max-width: 1180px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid rgba(12, 12, 12, 0.1);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .header .container {
  display: flex;
} */

.header-logo {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #652626;
}
.header-nav {
}
.header-nav-list {
  display: flex;
  /* gap: 40px; */
}

.header-nav-item:not(:last-child) {
  margin-right: 40px;
}

.header-nav-link {
  display: block;
  padding: 30px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  color: #0c0c0c;
}
.header-social-list {
  display: flex;
  gap: 10px;
}
.header-social-item {
}
.header-social-link {
}

/* HERO SECTION  */
.hero {
}
.hero-title {
}
.hero-title-part {
}
.hero-descr {
}





